* {

    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;

}


input[type="number"],
input[type="text"],
input[type="email"],
input[type="pincode"],
input[type="date"],
select,
textarea
{margin: 10px;
    width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 5px;
}
fieldset{
background-color: #fff;
border: 1px solid #ccc;
}
.main_heading{
    text-align: center;
}
button{
background-color: #2573d2;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
width: 100%;
}
button:hover{
    background-color: aqua;
}